
<table class="text-left" class="table .table-striped" >
    <thead>
      <tr>
        <th>REIMB_ID</th>
        <th>REIMB_AUTHOR</th>
        <th>REIMB_AMOUNT</th>
        <th>REIMB_SUBMITTED</th>
        <th>REIMB_RESOLVED</th>
        <th>REIMB_RESOLVER</th>
        <th>REIMB_DESCRIPTION</th>
        <th>REIMB_STATUS_ID</th>
        <th>REIMB_TYPE_ID</th>
      </tr>
    </thead> 
    <tbody>
    <tr>
      <td >{{reimb.reimb_id}}</td>
      <td>{{reimb.reimb_author}}</td>
      <td>{{reimb.reimb_amount}}</td>
      <td>{{reimb.reimb_submitted}}</td>
      <td>{{reimb.reimb_resolved}}</td>
      <td>{{reimb.reimb_resolver}}</td>
      <td>{{reimb.reimb_description}}</td>
      <td>{{reimb.reimb_status_id}}</td> 
      <td>{{reimb.reimb_type_id}}</td>
     </tr>
    </tbody>
    </table>