<form>
  <form (ngSubmit)="submit()">
      First Name:<br>
      <input type ="text" name ="firstname" [(ngModel)]="usi.user_first_name"/>
      <br>
      Last Name:  <br>
      <input type ="text" name="lastname" [(ngModel)] ="usi.user_last_name"/>
      <br>
      Email:<br>
      <input type = "email" name="email" [(ngModel)] ="usi.user_email"/>
      <br>
      Username: <br> 
      <input type ="text" name ="username" [(ngModel)]="usi.ers_username"/>
      <br>
      Password: <br>
      <input type ="password" name ="password" [(ngModel)]="usi.ers_password"/>
      <br>
      <div *ngIf= "admin()">
        <br>
      Role:<br>
      <select  name=selector [(ngModel)]="item" (change)="usi.ers_user_role">
          <option value="1">Button Pusher</option>
          <option value="2">Money Giver</option>
          <option value="3">ADMIN!!!!</option>
        </select>
      </div>
      <br><br>  
      <button type ="submit">Submit</button>
      <br><br><br>
      <p class="alert-message" *ngIf="alert">
          {{alert}}
        </p>
  </form>
  <br>
